.App {
  text-align: center;
  background-color: grey;
  height: 100vh;
}

.IndividualCards{
  width: 25%;
  border: 1px solid black;
  margin: 1rem;
  cursor: pointer;
}

.CardContainers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
